image: python:3.6

before_script:
  - pip3 install pipenv --user

pytest:
  stage: test
  script:
    - pipenv install --dev --python 3.6
    - pipenv run pytest --cov=. tests.py
  artifacts:
    paths:
      - htmlcov/

pages:
  stage: deploy
  dependencies:
    - pytest
  script:
    - mv htmlcov/ public/
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
  - master

